<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s.t.m.project.dao.MDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.s.t.m.project.entity.MDictionary">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="GroupID" jdbcType="SMALLINT" property="groupid" />
    <result column="SortID" jdbcType="SMALLINT" property="sortid" />
    <result column="DKey" jdbcType="VARCHAR" property="dkey" />
    <result column="DValue" jdbcType="VARCHAR" property="dvalue" />
    <result column="Describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GroupID, SortID, DKey, DValue, M_Dictionary.Describe
  </sql>

  <select id="getAllDictionary" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from M_Dictionary
  </select>


</mapper>